/* Importing Google Font */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    height: 100vh;
    color: #333;
    background: linear-gradient(91.85deg, #480082 -1.89%, #7300D1 56.14%, #3B006B 114.18%);
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    position: relative;
    width: 90%;
    max-width: 1200px;
    background-color: #fff;
    backdrop-filter: blur(15px);
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
}

/* Player Sections */
.player {
    flex: 1 1 50%;
    padding: 2rem;
    border: 2px solid #ddd;
    background-color: #fefefe;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s;
}

.player--active {
    border-color: #7300D1;
    background-color: #e7f0ff;
}

.name {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    color: #333;
}

.score {
    font-size: 5rem;
    font-weight: 700;
    color: #7300D1;
    margin-bottom: 1rem;
}

.current {
    background-color: #7300D1;
    opacity: 0.8;
    border-radius: 8px;
    color: #fff;
    width: 80%;
    padding: 1.5rem;
    text-align: center;
}

.current-label {
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    color: #ddd;
}

.current-score {
    font-size: 2.5rem;
}

/* Dice Image */
.dice {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 8rem;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
    margin-top: 2rem;
}

/* Buttons */
.btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    padding: 0.7rem 2rem;
    border-radius: 2rem;
    background: rgba(255, 255, 255, 0.8);
    color: #333;
    border: none;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.15);
    transition: all 0.3s;
}

.btn--new {
    top: 2rem;
    background-color: #28a745;
}

.btn--roll {
    top: 10rem;
    background-color: #17a2b8;
}

.btn--hold {
    top: 18rem;
    background-color: #ffc107;
}

.btn:hover {
    background-color: #fff;
    opacity: 0.8;
}

.btn:active {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:focus {
    outline: none;
}

/* Winner Styles */
.player--winner {
    background-color: #d0aaf0;
    color: #fff;
}

.player--winner .name {
    font-weight: 700;
    color: #e7f0ff;
}

/* Hidden Elements */
.hidden {
    display: none;
}
